.about {
  background-color: $special-blue--dark;
  background-image: url("../../img/about-mobile@1x.png");
  background-size: 292px 353px;
  background-repeat: no-repeat;
}

.about__desc {
  color: $basic-white;
}
