.add-plan {
  background-color: $special-grey--dark;

  @media (max-width: $mobile-width-only) {
    margin-top: -30px;
    padding-top: 28px;
    padding-bottom: 140px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 51px;
    padding-bottom: 125px;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: -30px;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-bottom: 166px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -60px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.add-plan__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;

    border-radius: 50%;

    @media (max-width: $mobile-width-only) {
      min-width: 5px;
      width: 5px;
      height: 5px;

      margin-right: 35px;
    }

    @media (min-width: $tablet-width) {
      min-width: 6px;
      width: 6px;
      height: 6px;

      margin-right: 68px;
    }

    @media (min-width: $desktop-width) {
      content: none;
    }
  }

  &--1::after {
    background-color: $basic-blue--dark;

    @media (max-width: $mobile-width-only) {
      box-shadow:
        21px 0 0 0 rgba($basic-blue--dark, 0.3),
        42px 0 0 0 rgba($basic-blue--dark, 0.3);
    }

    @media (min-width: $tablet-width) {
      box-shadow:
        35px 0 0 0 rgba($basic-blue--dark, 0.3),
        70px 0 0 0 rgba($basic-blue--dark, 0.3);
    }
  }

  &--2::after {
    background-color: rgba($basic-blue--dark, 0.3);

    @media (max-width: $mobile-width-only) {
      box-shadow:
        21px 0 0 0 $basic-blue--dark,
        42px 0 0 0 rgba($basic-blue--dark, 0.3);
    }

    @media (min-width: $tablet-width) {
      box-shadow:
        35px 0 0 0 $basic-blue--dark,
        70px 0 0 0 rgba($basic-blue--dark, 0.3);
    }
  }

  &--3::after {
    background-color: rgba($basic-blue--dark, 0.3);

    @media (max-width: $mobile-width-only) {
      box-shadow:
        21px 0 0 0 rgba($basic-blue--dark, 0.3),
        42px 0 0 0 $basic-blue--dark;
    }

    @media (min-width: $tablet-width) {
      box-shadow:
        35px 0 0 0 rgba($basic-blue--dark, 0.3),
        70px 0 0 0 $basic-blue--dark;
    }
  }

  @media (min-width: $desktop-width) {
    display: inline;

    margin-left: 69px;
  }
}
