.countries {
  position: relative;
  z-index: 6;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  padding-top: 99px;
  padding-bottom: 34px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: $basic-blue--light;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-top: 129px;
    padding-bottom: 81px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    background-repeat: no-repeat;
    background-position: 40px 466px, 440px 140px;
    background-size: 141px 141px, 288px 574px;
    background-image:
      url("../img/rectangle-countries.svg"),
      url("../img/flags-back@1x.png");

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/rectangle-countries.svg"),
        url("../img/flags-back@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto auto;
    column-gap: 60px;
    row-gap: 39px;

    padding-top: 221px;
    padding-bottom: 138px;

    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;

    background-position: 60px 150px, 1093px 148px;
    background-size: 140px 140px, 287px 575px;
  }
}

.countries__title {
  align-self: flex-start;

  @media (min-width: $desktop-width) {
    padding-left: 111px;
  }
}

.countries__desc {
  align-self: flex-start;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    max-width: 415px;
    margin-top: 59px;

    align-self: flex-start;

    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    max-width: 492px;
    margin-top: 22px;

    padding-left: 112px;
  }
}

.countries__list {
  margin-top: 61px;

  @media (min-width: $tablet-width) {
    margin-top: 106px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    justify-self: flex-end;
    align-self: baseline;

    margin-top: 0;
  }
}

.countries__item {
  margin-top: 11px;

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.countries__link {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 113px;
    margin-top: 61px;
  }
}
