.header {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 46px 60px 9px 60px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $basic-blue;
  }

  &--active {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;

    padding-top: 18px;
    padding-bottom: 17px;

    background-color: $basic-white;

    transition: background-color 0.3s ease, padding 0.3s ease;

    @media (min-width: $desktop-width) {
      .main-nav__link {
        color: $special-blue--dark;
      }

      .main-nav::before {
        background-color: $special-blue--dark;
      }
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 23px;

  background-color: $special-blue--dark;

  &--active {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;

    background-color: $basic-white;

    transition: background-color 0.3s ease;
  }

  &--no-js {
    display: flex;
    position: static;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-end;

    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    display: contents;
  }
}

.header__toggle {
  position: relative;
  display: none;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-top: -4px;

  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    position: absolute;
    top: 3px;
    left: 0;

    border-radius: 1.5px;

    background-color: $basic-white;

    transition: 0.3s ease all;
  }

  &::before {
    top: 7px;
  }

  &::after {
    top: 15px;
  }

  &--scroll::before,
  &--scroll::after {
    background-color: $basic-grey--light;
  }

  &--close::before,
  &--close::after {
    background-color: $basic-grey--light;
  }

  &--close::before {
    transform: matrix(0.71, -0.73, 0.69, 0.71, 0, 4);
  }

  &--close::after {
    transform: matrix(0.71, 0.73, -0.69, 0.71, 1, -4);
  }

  &--active {
    display: inline-block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 23px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.header__list .contacts__tel,
.header__list .contacts__email {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.header__list .contacts__auth {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
