.users {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  padding-top: 96px;
  padding-bottom: 31px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: $special-blue--dark;
  background-repeat: no-repeat;
  background-size: 71px 71px, 143px 143px, 132px 132px;
  background-position: -9px 337px, 152px 65px, -19px 64px;
  background-image:
    url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rectangle-about-mobile.svg");

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/rogovaya-back-mobile@2x.png"),
      url("../img/smolov-back-desktop@2x.png"),
      url("../img/rectangle-about-mobile.svg");
  }

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-top: 197px;
    padding-bottom: 87px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    background-size: 285px 285px, 143px 143px, 212px 212px;
    background-position: 409px 140px, 40px 486px, 40px 131px;
    background-image:
      url("../img/rogovaya-back-desktop@1x.png"),
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rectangle-about-mobile.svg");

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/rogovaya-back-desktop@2x.png"),
        url("../img/smolov-back-desktop@2x.png"),
        url("../img/rectangle-about-mobile.svg");
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    column-gap: 60px;

    padding-top: 186px;
    padding-bottom: 133px;

    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;

    background-position: 190px 446px, 547px 194px, 60px 130px;
  }
}

.users__title {
  align-self: flex-start;
}

.users__desc {
  margin-top: 20px;

  color: $basic-white;

  @media (max-width: $mobile-width-only) {
    align-self: flex-start;
  }

  @media (min-width: $tablet-width) {
    max-width: 465px;
    margin-top: 57px;

    align-self: flex-start;

    line-height: 34px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    margin-top: 54px;

    line-height: 33px;
  }
}

.users__desc.desc--important {
  @media (min-width: $tablet-width) {
    margin-top: 39px;

    line-height: 24px;
  }
}

.users__list {
  display: flex;
  margin-top: 56px;

  list-style: none;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-top: 61px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
    margin-top: 8px;
    margin-bottom: 1px;

    grid-row: 1 / -1;
    grid-column: -2 / -1;
  }
}

.users__item {
  @media (max-width: $mobile-width-only) {
    margin-top: 9px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.users__link {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 81px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;

    margin-top: 83px;
    margin-left: 71px;
  }
}
