$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$basic-white: #ffffff;
$basic-blue: #161c35;
$basic-blue--light: #edeff6;
$basic-blue--dark: #1d2e5b;
$special-blue--bg: #182044;
$special-blue--dark: #192144;
$special-blue--buble: #121936;
$special-blue--light: #dfe3f0;
$special-blue--pop-up: #101d41;
$special-blue--shadow: #365094;
$dark-blue: #132576;
$basic-yellow: #ffd74b;
$basic-yellow--dark: #ffbd30;
$special-yellow: #f3c72b;
$special-green--online: #81e31e;
$basic-grey: #edeff6;
$basic-grey--dark: #e6e8f1;
$basic-grey--button: #f3f4f8;
$special-grey: #444444;
$special-grey--light: #cbced9;
$special-grey--dark: #d4d9eb;
$special-grey--calendar: #d6d9e6;
$special-grey--filter: #e2e5f2;
$special-grey--button: #d6daed;
$special-grey--hover: #c8cee8;
$special-grey--upperline: #f2f2f2;
$special-grey--underline: #e1e3e9;
$special-grey--photo-button: #d1d7e9;
$special-grey--border: #959bb2;
$special-grey--shadow: #d9d9eb;
$special-pink: #f9eaea;
$basic-red: #ff0000;
$basic-red-light: #ffefef;
$special-red: #f47e7e;
$special-red--calendar: #ff5c23;
$special-red--offline: #f97676;
$special-red--like: #f9eaea;
$special-orange: #ff8d30;
$special-orange--dark: #f26926;
$special-orange--light: #ffa530;
$basic-black: #000000;
